/* 하급 색상 테두리 - 초록 */
.green-color-border {
  position: relative;
  overflow: visible !important;
  z-index: 1;
  border-radius: 6px;
}

.green-color-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  border: 2px solid #2bff00; /* 초록색 테두리 */
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
}

.green-color-border > * {
  position: relative;
  z-index: 2;
}

/* 하급 색상 테두리 - 파랑 */
.blue-color-border {
  position: relative;
  overflow: visible !important;
  z-index: 1;
  border-radius: 6px;
}

.blue-color-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  border: 2px solid #1e90ff; /* 파랑색 테두리 */
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
}

.blue-color-border > * {
  position: relative;
  z-index: 2;
}

/* 하급 색상 테두리 - 보라 */
.purple-color-border {
  position: relative;
  overflow: visible !important;
  z-index: 1;
  border-radius: 6px;
}

.purple-color-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  border: 2px solid #da70d6; /* 보라색 테두리 */
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
}

.purple-color-border > * {
  position: relative;
  z-index: 2;
}
